# This rule is not used by the project kagenti-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to beeai.beeai.dev resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: kagenti-operator
    app.kubernetes.io/managed-by: kustomize
  name: agentbuild-viewer-role
rules:
- apiGroups:
  - beeai.beeai.dev
  resources:
  - agentbuilds
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - beeai.beeai.dev
  resources:
  - agentbuilds/status
  verbs:
  - get
