apiVersion: v1
kind: ConfigMap
metadata:
   name: github-clone-step
   namespace: {{ .Release.Namespace  }}
   labels:
         kagenti.operator.dev/tekton: step 
data:
  task-spec.yaml: |
    params:
      - name: GITHUB_TOKEN
        type: string
        description: The Git repository URL with the token
        default: ""  # Token will be injected from component or externally
      - name: repo-url
        type: string
        description: The Git repository URL without the token
      - name: revision
        type: string
        description: The Git revision to checkout
        default: "main"
    steps:
      - name: git-clone
        image: ghcr.io/tektoncd/github.com/tektoncd/pipeline/cmd/git-init:latest
        command:
          - /ko-app/git-init
        args:
          - -url
          - https://$(params.repo-url)
          - -revision
          - $(params.revision)
          - -path
          - /workspace/source
      - name: list-dir
        image: public.ecr.aws/docker/library/alpine:latest
        workingDir: $(workspaces.source.path) 
        script: |
            echo "Listing contents of workspace root ($(workspaces.source.path)): "
            ls -la 
          
    workspaces:
      - name: source
